APP_ENV=production

SERVER_HOST=0.0.0.0
SERVER_PORT=8000

DATABASE_URL=

SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=60
WS_HEARTBEAT_INTERVAL=15

REST_API_KEY=
CLIENT_TOKEN=
AGENT_TOKEN=

WOL_HELPER_BASE_URL=http://localhost:8099
WOL_BROADCAST_IP=
WOL_PORT=9
